**Dataframe = a tabular data structure with rows and columns. (2D) similar to an excel spreadsheet**

In [27]:
import pandas as pd

data  = {
          "name": ["John", "Michael", "Smith"],
          "age": [20, 26, 30]
         }
df = pd.DataFrame(data,index=["employees1","employees2","employees3"])
print(df)

               name  age
employees1     John   20
employees2  Michael   26
employees3    Smith   30

In [28]:
print(df.loc["employees1"])
print(df.iloc[2])

name    John
age       20
Name: employees1, dtype: object
name    Smith
age        30
Name: employees3, dtype: object

**Add a new column**

In [29]:
df["job"] = ["accountant","employer","teacher"]
print(df)

               name  age         job
employees1     John   20  accountant
employees2  Michael   26    employer
employees3    Smith   30     teacher

**add a new row**

In [30]:
new_row = pd.DataFrame([{"name":"john","age":[20],"job":"librarian"}],index=["employees4"])
df = pd.concat([df,new_row])
print(df)

               name   age         job
employees1     John    20  accountant
employees2  Michael    26    employer
employees3    Smith    30     teacher
employees4     john  [20]   librarian